body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-image: url(""); */
}
*{
   padding: 0;
   margin: 0;
   /* background-color: antiquewhite; */
    font-family: monospace;
}
.grid{
    border:3px solid black;
    width: 644px;
    height: 644px;
    display: flex;
    flex-wrap: wrap;  
   box-shadow: 0 0 23px 23px rgb(10, 45, 147);

}

.grid div{
      box-sizing: border-box;
    width: 23px;
    height: 23px;
   
    
}
.sc{
    margin-top: 15px;
    border:5px solid blueviolet;
    background-color: aqua;
    border-radius: 8px;
    height: 6vh;
    width:10em;
    display: flex;
    align-items: center;
    h3{
        font-size: 1.5em;
        font-weight: bolder;
        padding-left: 12px;
    }
}
.dot{
    background-color: green;
    border: 8px solid white;
    border-radius: 50%;
   

}
.wall{
    background: blue;
    border: 0.5px solid rgb(16, 12, 44);
}
.ghost::before {
    content: '👻';
    padding: 4px;
    display: inline-block;
}
.powerpoint{
    background-color:rgb(0, 255, 30);
    border: 3px solid white;
    border-radius: 50%;
}
.packman::before{
    padding: 0px;
    content: '😈';
    font-size: x-large;
}
.img{
    height: 100px;
}